[defaults]
inventory = /home/user/study/codeby_devops/lesson12/ansible/env/dev/inventory.yml
remote_user = vagrant

[privilege_escalation]
become = True
become_method = sudo

[ssh_connection]
ssh_args = -C -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o BatchMode=yes -o LogLevel=ERROR
